@{
    ViewData["Title"] = "Home";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3" style="background-color: trasnparent;">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <span class="bi bi-person-circle" style="color: #fff;"></span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Registro"
                            asp-action="Index">Registrar-se</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Registro"
                            asp-action="Login">Entrar</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="search-box">
            <form class="form-inline">
                <i class="bi bi-search"></i>
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                <i class="bi bi-three-dots-vertical"></i>
            </form>
        </div>
    </nav>
</header>

<div class="text-center">
    <div class="bg">
        <h1 class="title">Vaquinha On-line</h1>
        <h3 class="subtitle">Doar salva vidas!</h3>

        <p class="paragraph">
            Este site foi criado para atender pessoas que precisam de doações financeiras ou de equipamentos de saúde. O
            objetivo é facilitar o contato entre doadores e beneficiários, sem a cobrança de altas taxas.
        </p>
    </div>
</div>

<style>
    body {
        color: #fff;
        background: url("https://img.freepik.com/fotos-gratis/visao-de-maos-segurando-coracoes-vermelhos-para-representar-afeicao_23-2151728380.jpg?t=st=1732316878~exp=1732320478~hmac=6e7d1fa3eb9ec2755db2cea4ad68dadfeed24d026836a4837811939ae8004167&w=826") no-repeat;
        background-size: cover;
    }

    .text-center {
        background: rgba(217, 217, 217, 0.6);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1040px;
        height: 460px;
    }

    .text-center .bg {
        font-family: "Inter", sans-serif;
        margin: 40px;
        gap: 3px;
    }

    .bg .title {
        font-weight: bolder;
        font-size: 60px;
    }

    .bg .subtitle {
        font-weight: bold;
        font-size: 40px;
        margin-top: 50px;
    }

    .bg .paragraph {
        font-weight: 600;
        font-size: 25px;
        margin-top: 50px;
    }

    .nav-link {
        border-radius: 15px 0 15px 0;
        background-color: #4A90E2;
        margin: 0 5px;
    }

    .form-inline {
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .form-inline input {
        margin: 0 8px;
        border-radius: 20px;
        width: 220px;
        height: 30px;
    }

    .form-inline i {
        font-size: 25px;
    }
</style>