@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="bg">
        <h1 class="display-4">Vaquinha On-line</h1>
        <h3 class="subtitle">Doar salva vidas!</h3>

        <p class="paragraph">
            Este site foi criado para atender pessoas que precisam de doações financeiras ou de equipamentos de saúde. O
            objetivo é facilitar o contato entre doadores e beneficiários, sem a cobrança de altas taxas.
        </p>
    </div>
</div>

<style>
    body {
        color: #fff;
        background: url("https://img.freepik.com/fotos-gratis/visao-de-maos-segurando-coracoes-vermelhos-para-representar-afeicao_23-2151728380.jpg?t=st=1732316878~exp=1732320478~hmac=6e7d1fa3eb9ec2755db2cea4ad68dadfeed24d026836a4837811939ae8004167&w=826") no-repeat;
        background-size: cover;
    }

    .text-center {
        background: rgba(217, 217, 217, 0.6);
        position: absolute;top: 50%;left: 50%;
        transform: translate(-50%, -50%);
        width: 1040px;
        height: 460px;
    }

    .text-center .bg{
        font-family: "Inter", sans-serif;
    }

    .bg .display-4{
        font-weight: bolder;
    }

    .bg .subtitle{
        font-weight: bold;
    }

    .bg .paragraph{
        font-weight: 600;
    }
</style>