@{
    ViewData["Title"] = "Início";
}

<div class="sidebar">
    <div class="navegacao">
        <div class="botoes">
            <ul class="opcoes">
                <li>
                    <i class="bi bi-house-fill"></i>
                    <button class="inicio">Início</button>
                </li>

                <li>
                    <i class="bi bi-plus-lg"></i>
                    <button class="inicio">Criar Campanha</button>
                </li>

                <li>
                    <i class="bi bi-gift-fill"></i>
                    <button class="inicio">Minhas Campanhas</button>
                </li>

                <li>
                    <i class="bi bi-heart-fill"></i>
                    <button class="inicio">Doações</button>
                </li>

                <li>
                    <i class="bi bi-telephone-fill"></i>
                    <button class="inicio">Contato</button>
                </li>
            </ul>
        </div>

        <div class="extras">
            <ul class="links">
                <li>Excluir conta</li>
                <li>
                    Ajuda
                    <i class="bi bi-question-circle-fill"></i>
                </li>
            </ul>
        </div>
    </div>
</div>

<main class="conteudo-container">
    <div class="conteudos">
        <div class="slideshow">

        </div>

        <div class="botao">
            <button class="apoiar">Apoiar</button>
        </div>
    </div>
</main>