@{
    ViewData["Title"] = "Registrar-se";
}

<main class="conteudo-container">
    <div class="formulario-informacoes">
        <form method="post" asp-action="AdicionarUsu">
            <h2>Criar conta:</h2>

            <div class="bloco-1">
                <input type="text" name="Senha" id="Senha" placeholder="Digite sua senha">
            </div>

            <div class="bloco-2">
                <input type="text" name="ConfiSenha" id="ConfiSenha" placeholder="Confirme sua senha">
            </div>

            <div class="bloco-3">
                <a href="../Registro" class="btn">Voltar</a>
                <button class="btn" id="Confirmar">Confirmar</button>
            </div>
        </form>
    </div>

    <div class="imagens">
        <div class="image">
            <img src="https://www.monsystemeimmunitaire.fr/wp-content/uploads/2023/08/AdobeStock_293343151-2048x1367.jpeg" alt="">
        </div>
    </div>
</main>

<style>
    body {
        min-height: 100vh;
        background-color: #1F4E79;
    }

    .conteudo-container {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1000px;
        height: 450px;
    }

    .formulario-informacoes {
        position: relative;
        display: flex;
        background-color: #fff;
    }

    .formulario-informacoes form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 400px;
        height: 450px;
        padding-top: 30px;
    }

    .formulario-informacoes form h2{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 15px;
        color: #4A90E2;
        font-weight: bold;
    }

    .formulario-informacoes .bloco-1{
        display: flex;
        justify-content: space-evenly;
    }

    .formulario-informacoes .bloco-2{
        display: flex;
        justify-content: space-evenly;
    }

    .formulario-informacoes .bloco-3{
        display: flex;
        justify-content: space-evenly;
        margin-top: 45px;
    }

    .bloco-3 .btn{
        border-radius: 15px 0 15px 0;
        background-color: #4A90E2;
        color: #fff;
    }

    input {
        border: 0;
        border-radius: 8px;
        background-color: #D9D9D9;
        height: 35px;
        margin: 5px 0;
    }

    input::placeholder {
        color: #9d9d9d;
        opacity: 1;
        padding-left: 8px;
    }

    .image img{
        width: 580px;
        height: 450px;
        object-fit: cover;
    }
</style>