@{
    ViewData["Title"] = "Criar Campanha - Dinheiro";
}

<main class="conteudo-container">
    <div class="formulario-informacoes">
        <form action="post">
            <div class="bloco-1">
                <input type="text" name="Quantia" id="Quantia" placeholder="R$">
            </div>

            <div class="bloco-2">
                <label for="Data">Data:</label>
                <input type="date" name="Data" id="Data" placeholder="  /  /  ">
            </div>

            <div class="bloco-3">
                <input type="file" name="ImagemProd" id="ImagemProd">
            </div>

            <div class="bloco-4">
                <a href="../Campanha/Campanha" class="btn btn-primary">Voltar</a>
                <button class="btn btn-primary" id="Confirmar">Confirmar</button>
            </div>
        </form>
    </div>

    <div class="imagens">
        <div class="image">
            <img src="https://www.monsystemeimmunitaire.fr/wp-content/uploads/2023/08/AdobeStock_293343151-2048x1367.jpeg" alt="">
        </div>
    </div>
</main>

<style>
    body {
        min-height: 100vh;
        background-color: #1F4E79;
    }

    .conteudo-container {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
    }

    .formulario-informacoes {
        position: relative;
        display: flex;
    }

    .formulario-informacoes form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 300px;
    }

    .image img{
        width: 727px;
    }
</style>