@{
    ViewData["Title"] = "Doação";
}

<main class="doacoes-container">
    <div class="topo">
        <a href="" class="voltar">
            <span class="bi bi-arrow-left"></span>
        </a>
        
        <h2 class="titulo">Doações:</h2>
    </div>

    <div class="doacoes">
        <div class="slideshow-cartoes">
            <div class="card">
                <img class="imagem-cartao" src="" alt="">

                <div class="cartao-infos">
                    <h5 class="titulo-cartao"></h5>

                    <p class="local">
                        <span class="bi bi-geo-alt-fill"></span>
                    </p>
                    <p class="tamanho"></p>
                    <p class="contato"></p>

                    <a href="~/Doacao/InfoProdutos" class="btn btn-primary">
                        Ver Mais...
                    </a>
                </div>
            </div>

            <div class="card">
                <img class="imagem-cartao" src="" alt="">

                <div class="cartao-infos">
                    <h5 class="titulo-cartao"></h5>

                    <p class="local">
                        <span class="bi bi-geo-alt-fill"></span>
                    </p>
                    <p class="tamanho"></p>
                    <p class="contato"></p>

                    <a href="~/Doacao/InfoProdutos" class="btn btn-primary">
                        Ver Mais...
                    </a>
                </div>
            </div>

            <div class="card">
                <img class="imagem-cartao" src="" alt="">

                <div class="cartao-infos">
                    <h5 class="titulo-cartao"></h5>

                    <p class="local">
                        <span class="bi bi-geo-alt-fill"></span>
                    </p>
                    <p class="tamanho"></p>
                    <p class="contato"></p>

                    <a href="~/Doacao/InfoProdutos" class="btn btn-primary">
                        Ver Mais...
                    </a>
                </div>
            </div>

            <a class="btn btn-secondary">
                <span class="bi bi-arrow-left"></span>
            </a>
            <a class="btn btn-secondary">
                <span class="bi bi-arrow-right"></span>
            </a>
        </div>
    </div>
</main>