@{
    ViewData["Title"] = "Sobre o produto";
}
<div class="const">
<div class="sidebar">
    <div class="doadores">
        <h1 class="titulo-doadores">Lista de doadores:</h1>

        <p class="lista-doadores">

        </p>
    </div>
</div>

<main class="doacao-container">
    <div class="container">
        <div class="topo">
            <a href="~/Doacao/Index" class="voltar"><span class="bi bi-arrow-left"></span></a>
            <h2 class="titulo">Sobre o produto:</h2>
        </div>

        <div class="conteudos">
            <div class="sobre">
                <div class="imagem">
                    <img class="imagem" src="" alt="">
                </div>

                <div class="informacao">
                    <p class="texto">

                    </p>
                </div>
            </div>

            <div class="extras">
                <div class="meta">
                    <div class="progress">
                        <div class="barra-progresso" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                            aria-valuemax="1">
                            <p class="total">
                                0 1
                            </p>
                        </div>
                    </div>

                    <p class="progesso">
                        Progresso: 0%
                    </p>

                    <a href="" class="btn">Doar</a>
                </div>

                <div class="comentarios">
                    <h5 class="titulo-comentario">Comentário: </h5>
                    <p class="comentario">

                    </p>

                    <input type="text" name="" id="">
                    <i class="bi bi-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
</main>
</div>
<style>
    body {
        background-color: #1F4E79;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1240px;
        height: 460px;
        margin: 0 25px;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        padding: 15px;
        width: 300px;
        height: 500px;
    }

    .sidebar .doadores {
        background-color: #fff;
        border-radius: 15px;
        height: 450px;
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    .doacao-container {
        position: fixed;
        margin-left: 320px;
        margin-right: 56px;
        top: 0;
        left: 0;
        bottom: 0;
        padding: 15px;
    }

    .doacao-container .container {
        background-color: #fff;
        border-radius: 15px;
        width: 850px;
        height: 450px;
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    .container .topo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .topo .voltar {
        margin-right: 30%;
    }

    .voltar span {
        color: #000;
        font-size: 30px;
    }

    .conteudos {
        display: grid;
        grid-template: 35px 1fr / 100px 1fr 100px;
        gap: 15px;
    }

    .conteudos .sobre {
        grid-column: 1 / -1;
    }

    .conteudos .extras {
        display: grid;
        grid-template: 35px 1fr / 100px 1fr 100px;
        gap: 15px;
    }

    .extras .meta {
        grid-column: 1 / -1;
    }

    .extras .comentarios {
        grid-column: 2 / span 2;
    }

    .btn {
        background-color: #4A90E2;
        color: #fff;
        border-radius: 15px 0 15px 0;
    }
</style>