@{
    ViewData["Title"] = "Doação";
}

<main class="pagamento-caontainer">
    <div class="topo">
        <a href="" class="voltar"><span class="bi bi-arrow-left"></span></a>
        <h2 class="titulo">Formas de pagamento:</h2>
    </div>
    
    <div class="pagamento">
        <div class="pix">
            <i class="bi bi-pix"></i>
            <input type="button" value="PIX">
        </div>

        <div class="cartao-debito">
            <i class="bi bi-credit-card"></i>
            <input type="button" value="Cartão de Débito">
        </div>

        <div class="cartao-credito">
            <i class="bi bi-credit-card-2-front"></i>
            <input type="button" value="Cartão de Crédito">
        </div>
    </div>

    <div class="footer">
        <h2 class="valor-doacao">Valor da Doação: </h2>
        <h2 class="rs">R$</h2>
        <h2 class="valor"></h2>
        
        <button class="btn btn-primary" type="submit">Finalizar</button>
    </div>
</main>